/* --------------- Vars -------------------- */

@import "../vars";

/* --------------- /vars -------------------- */

.topic-title {
    margin-bottom: $shift*4;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}

.topic-title_main {
    font-size: 18px;
}

.topic-title_count {
    margin-left: $shift;
    color: $main-color;
}

.topic-link_a {
    color: #000;;
}

.topic-table {
    display: flex;
}

.topic-table_section {
    flex-basis: 33%;
}

.topic-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topic-section_i {
    flex: 50%;
}