header(class='header flex')
    div(class='logo flex_main')
        a(href="#", class="logo_lk")

    div(class="user-details flex")
        div(class="user-details_inf")
            div(class="user-details_name")
                a(href="#", class="user-details_name_lk") Anna Ruanna
            a(href="#", class="user-details_lk") messages
                 span(class="user-details_count") 1
            a(href="#", class="user-details_lk") guests
                 span(class="user-details_count") 4
        <div class="user-details_ava">
            a(href="#", class="user-details_ava_lk")
                img(src="", class="user-details_ava_i")