header(class='header')
    div(class="flex")
        div(class='logo flex_main')
            a(href="#", class="logo_lk")

        include user-details.pug
    
    nav(class="nav-main")
        mixin navLink(title, url, count)
            a(href=url, class="nav-main_lk")= title
            if count
                span(class="nav-main_count") 233

        +navLink('news', '#')
        +navLink('culture', '#')
        +navLink('celebrity', '#')
        +navLink('travel', '#')
        +navLink('users', '#', '233')
        +navLink('rules', '#')
        +navLink('your.style', '#')
        +navLink('FAQ', '#')
