/* --------------- Vars -------------------- */

@import "../vars";

/* --------------- /vars -------------------- */

.nav-main {
    padding-top: $shift*3;
}

.nav-main_lk {
    font-size: 18px;
    font-weight: bold;
    color: #000;

    & + & {
        margin-left: $grid;
    }
}

.nav-main_count {
    padding-right: $grid;
    padding-left: $shift;
    color: $main-color;
    cursor: default;
}

.nav-menu {
    padding-top: $shift*3;
}

.nav-menu_lk {
    display: inline-block;
    padding: 1px 2px;

    font-size: 13px;
    color: #000;

    &:not(.__active):hover {
        text-decoration: underline;
    }

    &.__active {
        background-color: #fdeaf4;
    }

    & + & {
        margin-left: $shift*2;
    }
}