doctype html
html(lang="en")
    head
        title Layout
        link(rel="stylesheet", href="css/style.min.css")
    body
        div(class='site')
            include template/header/header.pug
            include template/top-news/top-news.pug