div(div class="mt-20")

    mixin topicItem(topicName)
        div(class="topic-section_i")
            a(href="", class="topic-link_a")=topicName

    mixin topicTitle(title, count)
        div(class="topic-title")
            span(class="topic-title_main")=title
            span(class="topic-title_count")=count

    div(class="topic-table")
        div(class="topic-table_section")
            +topicTitle('Persons', '237')
            div(class="topic-section")
                +topicItem('Lady GaGa')
                +topicItem('Mary J. Blige')
                +topicItem('Steven Tyler')
                +topicItem('Eminem')
                +topicItem('Kanye West')
                +topicItem('Nicki Minaj')
                +topicItem('Jennifer Lopez')
                +topicItem('Queen Latifah')

        div(class="topic-table_section")
            +topicTitle('Tegs', '')
            div(class="topic-section")
                +topicItem('Home')
                +topicItem('Video')
                +topicItem('Animals')
                +topicItem('Music')
                +topicItem('Yoga')
                +topicItem('Dogs')
                +topicItem('Art')
                +topicItem('Cats')

        div(class="topic-table_section")
            +topicTitle('Groups', '93')
            div(class="topic-section")
                +topicItem('Home')
                +topicItem('Video')
                +topicItem('Animals')
                +topicItem('Music')
                +topicItem('Yoga')
                +topicItem('Dogs')